/* Fonte */
@font-face {
    font-family: "OpensSansExtrabold";
    src: url(../fonts/static/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "OpensSansSemibold";
    src: url(../fonts/static/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "OpensSansBold";
    src: url(../fonts/static/OpenSans-Bold.ttf);
}
/* Animação */

@keyframes fadeInSlide {
    0% {
        opacity: 0; 
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

/* Configurações gerais */
*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    padding: 2% 3%;
    height: 10%;
    background-color: #1253AF;
    color: white;
    font-family: "OpensSansExtrabold";
}

#logos{
    display: flex;
    min-width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#logos > img {
    width: auto;
    height: 50%;
}

#pages{
    display: flex;
    min-width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

a{
    font-size: 20px;
    text-decoration-line: none;
    color:white;
}

#divmenu{
    display: none;
}

/* Overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 10;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background: #1253AF;
    width: 0%;
    height: 0%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 20;
    transition: width 0.5s ease-in-out;
}

.On{
    width: 70%;
    height: 100%;
}

.navcontent{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin: 10% 0%;
    justify-content: space-around;
    align-items: center;
}

#buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#buttons > img{
    object-fit: contain;
    flex-grow: 0; 
    width: 20%;
}

.NavBarItem{
    font-size: 150%;
    font-family: "OpensSansSemibold";
}

/* Partes das imagens */
#visual{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.imgvisual{
    object-fit: contain;
    flex-grow: 0; 
}

#imgcircle1{
    width: 10%;
    align-self: flex-start;
}

#imgstarmain{
    width: 30%;
    animation: fadeInSlide 0.5s ease-in-out;
}

#imgstargroup{
    width: 30%;
    align-self: flex-start;
    margin-right: 3%;
    animation: fadeInSlide 0.5s ease-in-out;
}

/* Sobre */
#content{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
}

#dog{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    position: relative;
    align-items: center;
    animation: fadeInSlide 0.5s ease-in-out;
}

#animals2{
    width: 80%;
    min-width: 315px;
    object-fit: contain;
    flex-grow: 0; 
    margin: 30% 0% 0% 40%;
}

#rectangle2{
    width: 20%;
    min-width: 90px;
    object-fit: contain;
    flex-grow: 0;
    position: absolute;
    bottom: 0;
    left: 0; 
}

#divText{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeInSlide 0.5s ease-in-out;
}

#row1 {
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: relative;
    margin-bottom: -10%;
}

#animals1 {
    max-width: 35%;
    height: auto; 
    object-fit: contain;
    padding-left: 35%;
    z-index: 1;
}

#rectangle1{
    object-fit: contain;
    flex-grow: 0; 
    width: 15%;
    margin-bottom: -11%;
    z-index: 1;
}

#row2{
    width: 100%;
    height: auto;
    min-height: 650px;
    display: flex;
    position: relative;
    justify-content: end;
}

#circle2{
    width: 30%;
    position: absolute;
    bottom: 60px;
    left: 0; 
    z-index: -1;
}

#contentText{
    width: 75%;
    height: auto;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #1253AF; 
    color: white;
    font-family: "OpensSansSemibold";
    font-size: 20px;
    text-align: justify;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#centerText{
    width: 70%;
    padding: 20% 0%;
}

#animals3{
    max-width: 35%;
    height: auto; 
    object-fit: contain;
    padding-left: 20%;
    z-index: 1;
    margin-top: -15%;
}

/* ONG's */
#ONGS{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5%;
    margin: 5% 0%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.DivOng{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

iframe{
    width: 30%;
    min-width: 280px;
    height: auto;
    min-height: 280px;
}

.OngContent{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.OngContent > h1{
    color: #1253AF;
    font-family: "OpensSansExtrabold";
    align-self: center;
    font-size: 30px;
}

.OngContent > p{
    font-family: "OpensSansSemibold";
    text-align: justify;
    font-size: 20px;
}

/* Contatos */
#contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 3%;
    position: relative;
}

#divcontacts{
    height: auto;
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#divcontacts > h1{
    font-family: "OpensSansExtrabold";
    color: #FF1C01;
    font-size: 35px;
}

#divcontacts > h2{
    font-family: "OpensSansSemibold";
    color: #FF1C01;
}

.ContactLinks{
    width: 80%;
    min-width: 430px;
    height: auto;
    background-color: #1253AF;
    border-radius: 10px;
}

.itens{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1% 0% 1% 30px;
    font-family: "OpensSansSemibold";
}

#ContactAnimals{
    width: 30%;
    min-width: 330px;
    object-fit: contain;
}

#ContactCircles{
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 10%;
    min-width: 90px;
    object-fit: contain;
    flex-grow: 0;
    z-index: -1;

}

.ContactLinks:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

/* Footer */
footer{
    background-color: #1253AF;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
}

footer > img{
    width: auto;
    height: 50%;
    object-fit: contain;
    flex-grow: 0; 
}

/* Telas médias */
@media screen and (max-width: 900px) {
    /* Navbar */
    nav{
        height: 15%;
    }


    #logos > img {
        height: 30%;
    }

    /* Partes das imagens */
    #visual{
        justify-content: center;
        position: relative;
    }
    
    .imgvisual{
        object-fit: contain;
        flex-grow: 0; 
    }
    
    #imgcircle1{
        width: 15%;
        position: absolute;
        top: 0;
        left: 0;
    }
      
    #imgstarmain{
        width: 70%;
        margin-top: 5%;
        margin-left: 10%;
    }
    
    #imgstargroup{
        width: 0%;   
    }

    /* Sobre */ 
    
    /* ONG's */
    .DivOng{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    
    iframe{
        width: 80%;
    }
    
    .OngContent{
        width: 80%;
    }

    /* Cotantos */
    #contacts{
        flex-direction: column;
        gap: 40px;
    }

    #divcontacts{
        width: 90%;
    }

    .ContactLinks{
        width: 100%;
        min-width: 0px;
    }
    
}

/* Telas pequenas */
@media screen and (max-width: 630px) { 
    /* Navbar */
    nav{
        justify-content: space-around;
    }

    #logos{
        width: 40%;
    }

    #logos > img {
        min-width: auto;
        height: 45%;
    }

    #pages{
        display: none;
    }

    #divmenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        height: 100%;
    }
    #menu{
        width: 30%;
    }

    /* Sobre */
    #dog{
        display: none;
    }

    #divText{
        width: 100%;
    }
    
    #animals1{
        width: 40%;
        max-width: none;
        
    }
    #contentText{
        width: 85%;
        text-align: left;
    }

    /* ONGs */

    .OngContent > p{
        text-align: left;
    }

    /* Contatos */
    #contacts{
        display: flex;
        justify-content: center;
    }

    #divcontacts{
        min-width: 0px;
    }

    .ContactLinks{
        font-size: 14px;
    }

    #ContactAnimals{
        width: 90%;
        min-width: 0px;
        object-fit: contain;
    }

    /* Footer */
    footer > img{
        height: 30%;
    }
}

@media screen and (max-width: 630px) { 
    .ContactLinks{
        font-size: 12px;
    }
}