/* Fonte */
@font-face {
    font-family: "OpensSansExtrabold";
    src: url(../fonts/static/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "OpensSansSemibold";
    src: url(../fonts/static/OpenSans-SemiBold.ttf.ttf);
}

/* Animação */

@keyframes fadeInSlide {
    0% {
        opacity: 0; 
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

/* Configurações gerais */
*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    padding: 2% 3%;
    height: 10%;
    background-color: #1253AF;
    color: white;
    font-family: "OpensSansExtrabold";
}

#logos{
    display: flex;
    min-width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#logos > img {
    min-width: auto;
    height: 50%;
}

#pages{
    display: flex;
    min-width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

a{
    font-size: 20px;
    text-decoration-line: none;
    color:white;
}

#divmenu{
    display: none;
}

/* Overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 10;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background: #1253AF;
    width: 0%;
    height: 0%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 20;
    transition: width 0.5s ease-in-out;
}

.On{
    width: 70%;
    height: 100%;
}

.navcontent{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin: 10% 0%;
    justify-content: space-around;
    align-items: center;
}

#buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#buttons > img{
    object-fit: contain;
    flex-grow: 0; 
    width: 20%;
}

.NavBarItem{
    font-size: 150%;
}

/* Conteúdo da página */
article{
    width: 100%;
    min-height: auto;
    margin-top: 10%;
}

/* Partes das imagens */
#visual{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.imgvisual{
    object-fit: contain;
    flex-grow: 0; 
}

#imgcircle1{
    width: 10%;
    align-self: flex-start;
}

#imgstarmain{
    width: 30%;
    animation: fadeInSlide 0.5s ease-in-out;
}

#imgstargroup{
    width: 30%;
    align-self: flex-start;
    margin-right: 3%;
    animation: fadeInSlide 0.5s ease-in-out;
}

/* Conteúdo */
#content{
    width: 100%;
    height: auto;
    display: flex;
}

#dog{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    position: relative;
    align-items: center;
    animation: fadeInSlide 0.5s ease-in-out;
}

#animals2{
    width: 80%;
    min-width: 315px;
    object-fit: contain;
    flex-grow: 0; 
    margin: 40% 0% 0% 20%;
}

#rectangle2{
    width: 20%;
    min-width: 90px;
    object-fit: contain;
    flex-grow: 0;
    position: absolute;
    bottom: 0;
    left: 0; 
}

#divText{
    width: 60%;
    display: flex;
    flex-direction: column;
    animation: fadeInSlide 0.5s ease-in-out;
}

#row1{
    display: flex;
    position: relative;
    margin-bottom: -10%;
    z-index: 1;
}

#animals1{
    width: 40%;
    object-fit: contain;
    flex-grow: 0; 
    margin-left: 20%;
}

#rectangle1{
    width: 20%;
    object-fit: contain;
    flex-grow: 0;
    position: absolute;
    bottom: 0;
    right: 0; 
    margin-bottom: -6%;
}

#row2{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    min-height: 750px;
    height: auto;
}

#circle2{
    width: 30%;
    object-fit: contain;
    flex-grow: 0;
    position: absolute;
    bottom: 60px;
    left: 0; 
    z-index: -1;
}

#contentText{
    background-color: #1253AF;
    width: 80%;
    height: 100%;
    text-align: justify;
    font-size: 22px;
    color: white;
    font-family: "OpensSansSemibold";
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contentText:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

#centerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-height: 60%;
}

#row3{
    width: 100%;
    margin-top: -15%;
    z-index: 1;
}

#animals3{
    width: 40%;
    object-fit: contain;
    flex-grow: 0;
    margin-left: 20%;
}

/* Telas médias */
@media screen and (max-width: 900px) {
    /* Navbar */
    nav{
        height: 15%;
    }


    #logos > img {
        height: 30%;
    }

    /* Partes das imagens */
    #visual{
        justify-content: center;
        position: relative;
    }
    
    .imgvisual{
        object-fit: contain;
        flex-grow: 0; 
    }
    
    #imgcircle1{
        width: 15%;
        position: absolute;
        top: 0;
        left: 0;
    }
      
    #imgstarmain{
        width: 70%;
        margin-top: 5%;
        margin-left: 10%;
    }
    
    #imgstargroup{
        width: 0%;   
    }

    /* Conteúdo */

    #dog{
        width: 30%;
    }

    #contentText{
        font-size: 20px;
    }

    #animals2{
        margin: 40% 0% 0% 50%;
    }

    #divText{
        width: 70%;
    }
}


/* Telas pequenas */
@media screen and (max-width: 630px) { 
    /* Navbar */
    nav{
        justify-content: space-around;
    }

    #logos{
        width: 40%;
    }

    #logos > img {
        min-width: auto;
        height: 45%;
    }

    #pages{
        display: none;
    }

    #divmenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        height: 100%;
    }
    #menu{
        width: 30%;
    }

    /* Conteúdo */
    #dog{
        display: none;
    }

    #divText{
        width: 100%;
    }
}